.profile__edit-button {
    grid-area: 1/2;
    background-image: url('../../../images/edit.svg');
    width: 24px;
    height: 24px;
    border: none;
    background-color: #000000;
    margin-top: 18px;
    background-size: 100%;
}


.profile__edit-button:hover {
    opacity: .6;
    transition: opacity 1s ease;
    cursor: url('../../../images/pointer.png'), auto;
}

@media screen and (max-width: 700px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
    }
    
}