.form__save-button {
    width: 100%;
    border: none;
    padding: 14px;
    background-color: #000000;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border-radius: 2px;

}

.form__save-button:hover {
    opacity: .8;
    transition: opacity 1s ease;
    cursor: pointer;
}

@media screen and (max-width: 700px ) {
    .form__save-button {
        font-size: 14px;
        line-height: 17px;
    }
    
}