.profile__job {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 400px;
   
}
@media screen and (max-width: 930px) {
    .profile__job {
        max-width: 370px;
        text-align: center;
    }
}



@media screen and (max-width: 700px) {
    .profile__job {
        font-size: 14px;
        line-height: 16.94px;
        max-width: 230px;
    }
    
}